<button 
	class="top-bar-menu-button top-bar-button side-menu-button" 
	ng-click="vm.handleMenuButtonClick()"
	ng-class="{ 'has-unread': vm.hasNotices() } "
	aria-label="{{vm.isOpen() ? 'Hoofdmenu sluiten' : 'Hoofmenu openen'}}"
>
	<zs-icon icon-type="menu" class="top-bar-button-icon">
	</zs-icon>
</button>

<div class="backdrop ng-hide" ng-show="vm.isOpen()"></div>

<div class="side-menu" ng-class="{ 'side-menu-open': vm.isOpen() }" role="menu">

	<div class="side-menu-container">

		<div class="side-menu-header">

			<div class="side-menu-header-topbar">
				<div class="side-menu-company">
					{{vm.getCompanyName()}}
				</div>

				<button 
					aria-label="Hoofdmenu sluiten" 
					class="side-menu-close" 
					ng-click="vm.handleCloseClick($event)"
					role="menuitem"
					tabindex="{{vm.isOpen() ? 0 : -1}}"
				>
					<zs-icon icon-type="close"></zs-icon>
				</button>
			</div>

			<div class="side-menu-user">
				<a 
					class="side-menu-user-link" 
					ng-href="{{vm.getUserLink()}}"
					role="menuitem"
					tabindex="{{vm.isOpen() ? 0 : -1}}"
				>{{vm.getUserDisplayName()}}</a>
				<ul class="side-menu-user-action-list">

					<li
						ng-repeat="action in vm.getUserActions() track by action.name"
						class="side-menu-user-action"
						ng-class="action.classes"
					>
						<button
							type="button"
							ng-click="action.click($event)"
							class="btn-round"
							aria-label="{{action.label}}"
							zs-tooltip="{{action.label}}"
							zs-tooltip-options="{ attachment: 'bottom center', target: 'top center', offset: { x: 0, y: 5 } }"
							role="menuitem"
							tabindex="{{vm.isOpen() ? 0 : -1}}"
						>
							<zs-icon icon-type="{{action.icon}}"></zs-icon>
						</button>
					</li>

				</ul>
			</div>

		</div>


		<ul class="side-menu-group-list">

			<li class="side-menu-group" ng-repeat="group in vm.getLinkGroups() track by group.name" ng-class="group.class">
				<ul class="side-menu-link-list">

					<li
						class="side-menu-link"
						ng-repeat="link in group.children track by link.name"
						ng-switch="link.type"
					>
						<a
							class="side-menu-anchor"
							ng-href="{{link.href}}"
							ng-switch-default
							ng-click="vm.closeMenu()"
							target="{{link.external && '_blank'}}"
							role="menuitem"
							tabindex="{{vm.isOpen() ? 0 : -1}}"
						>
							<zs-icon
								class="side-menu-icon"
								ng-class="{{link.class}}"
								icon-type="{{::link.icon}}"
							></zs-icon>
							<span class="side-menu-label">{{::link.label}}</span>
						</a>

						<button
							class="side-menu-anchor button-reset"
							ng-switch-when="button"
							ng-click="link.click($event)"
							role="menuitem"
							tabindex="{{vm.isOpen() ? 0 : -1}}"
						>
							<zs-icon icon-type="{{::link.icon}}"></zs-icon>
							<span class="side-menu-label">{{::link.label}}</span>
						</button>

					</li>

				</ul>

			</li>



		</ul>
	</div>

	<zs-notification-list
		ng-if="vm.isNotificationListVisible()"
		data-notifications="vm.getNotifications()"
		on-read-more="vm.handleReadMore()"
		is-loading="vm.isNotificationsLoading()"
		on-navigate="vm.closeMenu()"
		on-archive-notification="vm.archiveNotification($id)"
		on-archive-all-notifications="vm.archiveAllNotifications()"
		on-close-notifications="vm.closeNotifications()"
	>
	</zs-notification-list>


</div>
