[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE html>

<html xml:lang="nl" lang="nl" xmlns="http://www.w3.org/1999/xhtml">

<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[% IF page_title %][% page_title %] - [% END %][% c.get_customer_info.naam_lang %]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    [% PROCESS form/common_form_header_includes.tt %]

    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>

    [% PROCESS layouts/common_header_includes_js.tt %]

    <!-- <link rel="shortcut icon" href="http://www.zaaksysteem.nl/favicon.ico" type="image/x-icon"> -->


</head>
<body data-ng-app="Zaaksysteem">

		<div id="container">
		
    		<header role="banner"[% IF pip && pip_session %] class="pip-header"[% END %][% IF pip && !pip_session %] class="pip-header-login"[% END %]>


            
                <div class="logo">
                	<a href="http://www.[% c.config.gemeente_id %].nl">
                        <span>Gemeente</span>

                        Zaakstad
                    </a>
                </div>
            
            </header>
		
				
			<div id="main" class="clearfix" role="main">
			
                
