@import '../../../shared/styles/_variables.scss';

.casecomplete-modal .zs-modal-body{
	background: white;

	.casecomplete-view__body{
		padding: 70px 15px 15px 15px;
		height: 100%;
		width: 100%;
		display: flex;
    	flex-direction: column;
	}

	.vorm-field-item{
		margin-bottom: 10px;
	}

	.case-detail-view__field-config-error-message{
		padding: 15px;
		background:#f9f9f9;
		border-radius: 15px;
		margin-bottom: 15px;
		color: #aaa;

		zs-icon{
			font-size: 1.5em;
		}
	}

	.form-field-control-wrapper, .form-field-meta{
		padding: 0;
	}

	vorm-field > label {
		font-size: 1rem;
	    color: #999;
	    font-weight: 500;
	    line-height: 1.7;
	    margin-bottom: 5px;
	    display: inline-block;
	}

	vorm-radio-group{
		width: 100%;

		label{
			padding: 15px;
			background: rgb(240,240,240);
			border: solid 2px rgb(240,240,240);;
			
			&.active{
				background: #fff;
				border: solid 2px rgb(54,103,151);	
			}
		}

		input[type="radio"] {
			outline: none;
		}

	}

	.vorm-clear{
		display: none;
	}

	.case-detail-view__button-container{		

		button{
			width: 100%;
			height: 50px;
		}
	}
}


@media #{$small-and-down}{
	.casecomplete-modal .zs-modal-body{
		.casecomplete-view__header-buttons{
			button{
				span{
					display: none;
				}
				zs-icon{
					font-size: 2em;
					display: block;
				}
			}
		}
		.casecomplete-view__header-title{
			font-size: 17px;
			margin-top: -1px;
		}
	}
}

.case-detail-view__completed-values-container{
	background: rgb(247,247,247);
	padding: 15px 15px 20px 15px;
	margin: 15px 15px 20px 15px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	font-size: 1.05em;	

	span, zs-icon{
		display: inline-block;
		vertical-align: middle;
	}

	zs-icon{
		font-size: 1.7em;
		margin-right: 5px;
	}

	ul{
		padding: 10px 0 0 0;
		margin-bottom: 0;

		li:last-of-type{
			margin-bottom: 0;
		}
	}
}
