<div class="block">
    <div class="block-header clearfix">
        <div class="block-header-title">Import</div>
    </div>
    <div class="block-content">
        <ul class="list">
        [% IF c.check_any_user_permission('beheer_gegevens_admin'); %]
            <li><a href="[% c.uri_for('/beheer/import/gba') %]" title="Basisregistraties">Basisregistraties</a></li>
        [% END %]

        [% IF c.show_woz %]
            <li><a href="[% c.uri_for('/beheer/woz') %]" title="WOZ" >WOZ</a></li>
        [% END %]
        </ul>
    </div>



