@import "../../../styles/variables";

zs-case-widget-result-compact{
	display: block;
	width: 100%;

	.case-widget-result-compact-link{
		font-size: 1rem;
		display: flex;
		padding: 1rem;
		border-top: solid 1px rgba(160, 160, 160, 0.3);
		width: 100%;

		&:hover{
			background: $very-light-blue;
		}

		.case-status {
			font-size: 1rem;
			width: 2.2rem;
			flex-shrink:0;
			margin-right:5px;
		}
		.case-label{
			display: flex;
			align-items: flex-start;
			font-size:1.0667rem;
			.case-days-left-wrap{
				padding:.15rem 0 0 .4rem;
				margin-left:auto;
				display: flex;
			}
		}
		.case-info {
			display: flex;
			flex-direction: column;
			flex-grow:1;
			width:100%;
			min-width: 0px;	
			> .case-description {
				color: $grey;
				vertical-align: middle;
				word-wrap:break-word;
				display: flex;
				font-size:.933rem;
				flex-wrap:wrap;
			}
			.case-requestor {
				margin: 5px 10px 0 0;
				display: flex;
				align-items:center;
				> zs-icon {
					font-size:1.15rem;
					margin-right:3px;
				}
			}
			.case-days-left {
				min-width: auto;
				line-height: 1.15rem;
				font-weight: 500;
				font-size:.7rem;
				padding:0 3px;
				border-radius:4px;
			}
			.case-subject {
				color: $grey;
				margin-right: 5px;
				word-wrap: break-word;
			}
		}
	}

	&:last-child{
		.case-widget-result-compact-link{
			border-bottom: solid 1px rgba(160, 160, 160, 0.3);
		}
	}

	.zs-table-row:hover {

		.case-search-result-compact {
			.case-days-left {
				opacity: 1;
			}
		}

	}

}
