<div 
  tabindex="0" 
  role="dialog" 
  class="zs-modal" 
  id="{{id}}" 
  aria-labelledby="{{id}}-title" 
  aria-describedby="{{id}}-content"
  zs-trap-keyboard-focus="true"
>
  <div class="zs-modal-body">
    <div class="zs-modal-header">
      <div class="zs-modal-title" id="{{id}}-title">
        {{title}}
      </div>
      <div class="zs-modal-download" ng-show="downloadUrl">
        <button class="btn-flat">
          <a ng-href="{{downloadUrl}}">
            Download origineel
          </a>
        </button>
      </div>
      <div class="zs-modal-close">
        <button aria-label="Sluiten" ng-click="onCloseClick($event)">
          <zs-icon icon-type="close"></zs-icon>
        </button>
      </div>
    </div>
    <div class="zs-modal-content" id="{{id}}-content">
      <zs-transclude/>
    </div>
  </div>
</div>
