[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]


[% layout_type = 'simple' %]
<div class="block">
    <div class="block-header">
        <div class="block-header-inner">
            <h1 class="block-header-title">Aanvraag niet van toepassing</h1>
        </div>
    </div>
    <div class="block-content">
        <p>
        [% IF aanvrager_error %]
            [% aanvrager_error %]
        [% ELSE %]
            [% IF aanvrager_type == 'natuurlijk_persoon' %]
                U bent
                [% (aanvrager.in_gemeente ? '' : ' geen ') %]
                inwoner van
            [% END %]
            [% IF aanvrager_type == 'niet_natuurlijk_persoon' %]
                Deze aanvraag is enkel te vervolgen als inwoner van 
            [% END %]
            [% c.get_customer_info.naam %]. De aanvraag is daarom niet op u van
                    toepassing.
        [% END %]

        <p>Klik op de volgende knop om uit te loggen en terug te keren naar de website
        van uw gemeente: </p><a href="[% ('/form/cancel') %]" title="Uitloggen" class="button button-primary">Uitloggen</a>
        </p>
    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]