[% USE Scalar %]

[% BLOCK block_categorie %]
    [% WHILE (categorie = bib_cat.next) %]
        <option
            value="[% categorie.id %]"
            class="[% (invoertype.value.multiple ? ' has_options' : '') %][% (invoertype.key == 'file' ? ' file' : '') %]"
        >[% '-' | repeat(CAT_STR_DEPTH) %] [% categorie.naam | html_entity %]</option>
        [% IF categorie.scalar.bibliotheek_categories.count %]
        [% SET CAT_STR_DEPTH = CAT_STR_DEPTH + 1 %]
            [% inner_cat = categorie.scalar.bibliotheek_categories %]
            [% save_categorie = bib_cat %]
            [% INCLUDE block_categorie
                bib_cat = inner_cat
                CAT_STR_DEPTH = CAT_STR_DEPTH
            %]
            [% categorie = save_categorie %]
            [% SET CAT_STR_DEPTH = CAT_STR_DEPTH - 2 %]
        [% END %]
    [% END %]
[% END %]
<!-- WIDGET: beheer/bibliotheek/objecttype/search.tt -->
<div class="wgt-beheer-bibliotheek-kenmerken-search">
    <table class="table_zaakinformatie marginbottom">
        <tr class="table_zaakinformatie_tr">
            <td class="table_td_left_zaakinformatie">Naam:</td>
            <td class="table_td_right_zaakinformatie"><input type="text" name="naam" class="input_large" value=""></td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Categorie</td>
            <td class="table_td_right_zaakinformatie">
                <select name="bibliotheek_categorie_id">
                    <option value="">Selecteer</option>
                    [% 
                        INCLUDE block_categorie
                        CAT_STR_DEPTH = 1
                    %]
                </select>
            </td>
        </tr>
    </table>
</div>
<!-- END WIDGET: beheer/bibliotheek/objecttype/search.tt -->
