@import '../../../../../shared/styles/variables';

zs-contact-cases-view{
	display: block;
	padding:1.25rem 1.5rem 6rem;

	@media #{$medium-and-up} {
		padding:1.5rem 2rem 6rem;
	}

	.contact-cases-header{
		margin-bottom: 22px;
		display: flex;
		align-items: center;
		position: relative;

		zs-dropdown-menu{
			margin-left:-.8rem;

			> button{
				
				line-height: 1.3;
				height:auto;
				padding: .5rem .8rem;
				text-align: left;

				@media #{$medium-large-and-up} {
					line-height: 3rem;
					height:3rem;
					padding: 0 .8rem;
				}
				
				&.popup-menu-button-active{
	            	box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
				}

				.popup-menu-button-label{
				    font-size: 1.3rem;
				    color: #006B98;
				    font-weight: 400;
				    text-transform: initial;
				    
				    @media #{$medium-and-up} {
				    	font-size: 1.6rem;
				    }
				}
				.popup-menu-list-item-button{
				  font-size:16px;
				  padding:.4rem 1rem;
				}
			}

		}

		.contact-cases-header-buttons{
			margin-left: auto;
			> .btn{
				color: $grey;
				zs-icon > i {
					font-size:1.6rem;
				}
			}
		}

	}

	zs-case-widget{
		display: flex;
		border-left: 1px solid rgba(160, 160, 160, 0.3);
		border-right: 1px solid rgba(160, 160, 160, 0.3);
    	&.empty{
      		border:1px solid rgba(160, 160, 160, 0.3);
    	}

    	.search-table-wrapper{
			width: 100%;
    	}
    }
    
    .zs-table-cell{
		border-bottom:1px solid rgba(160, 160, 160, 0.3);
		zs-dropdown-menu button{
			width: 1.6rem;
			height: 1.6rem;
			line-height: 1.6rem;
			margin: -0.25rem 0;
			border-radius: 100%;
			padding: 0;
		}
    }

    .zs-table-header-cell{
		border-top:1px solid rgba(160, 160, 160, 0.3);
    }

    .pagination{
		padding:1rem 0;
    }

    zs-case-widget-result-compact .case-widget-result-compact-link{
    	padding:1rem .5rem;
    }

}